custom-carousel {
  background-color: rgba(158,158,158,.2);

  .slides-window {
    overflow: hidden;
    position: relative;
  }
  .extend-slides {
    position: absolute;
    top: 0;
    & img {
      max-width: 140px;
    }
    &>* {
      float: left;
      overflow: hidden;
      &>* {
        float: left;
      }
    }
  }
}