<div class="slides-window"
     style="width: {{vm.imageWidth * vm.count}}px;
            height: {{vm.imageWidth}}px;">
    <div class="extend-slides"
         style="width: {{vm.imageWidth * (vm.images.length + (vm.count * 2))}}px;">
        <div class="fake"
             style="width: {{vm.imageWidth * vm.count}}px;">
            <img ng-repeat="image in vm.last track by $index"  ng-src="{{image}}">
        </div>
        <div class="slides"
             style="height: {{vm.imageWidth}}px; width: {{vm.images.length * vm.imageWidth}}px;">
            <div ng-repeat="image in vm.images track by $index" repeat-complete
                 style="height: {{vm.imageWidth}}px; width: {{vm.imageWidth}}px;">
                <img src="{{image}}">
            </div>
        </div>
        <div class="fake"
             style="width: {{vm.imageWidth * vm.count}}px;">
            <img ng-repeat="image in vm.first track by $index" ng-src="{{image}}">
        </div>
    </div>
</div>
<div layout="row" ng-if="vm.controls">
    <md-button class="md-icon-button carousel-arrow" ng-click="vm.prev()" aria-label="prev">
        <md-icon md-svg-src="assets/images/arrow-left-bold.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button carousel-arrow" ng-click="vm.pause()" aria-label="slideshow">
        <md-icon md-svg-src="assets/images/ic_pause_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button carousel-arrow" ng-click="vm.next()" aria-label="next">
        <md-icon md-svg-src="assets/images/arrow-right-bold.svg"></md-icon>
    </md-button>
</div>
