<md-sidenav class="md-sidenav-left" md-is-locked-open="true" style="max-width: 650px; width: 650px;">
    <md-toolbar>
        <h3 class="md-toolbar-tools">filters</h3>
    </md-toolbar>
    <md-content layout-padding>
        <input placeholder="themes" ng-if="vm.$state.is('sub')" ng-model="vm.subService.filter">
        <md-radio-group ng-if="vm.$state.is('post')" ng-model="vm.postService.filter">
            <md-radio-button value="">all comments</md-radio-button>
            <md-radio-button value="10">comments score > 10</md-radio-button>
            <md-radio-button value="100">comments score > 100</md-radio-button>
        </md-radio-group>
        <custom-carousel layout="column" layout-align="center center"
                         images="vm.subService.images"
                         image-template="vm.imageTemplate"
                         image-width="140"
                         count="4"
                         slide-count="3"
                         time="2000"
                         animation-time="300"
                         controls="true"
                         auto="false">
        </custom-carousel>
    </md-content>
</md-sidenav>