<md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">
        <md-button class="md-icon-button" ng-click="vm.getPage('before')" ng-disabled="!vm.subService.before" aria-label="before">
            <md-icon md-svg-src="assets/images/arrow-left-bold.svg"></md-icon>
        </md-button>
        <p>
            reddit.com/r/<input ng-model="vm.subService.subreddit" ng-blur="vm.getSub()">
        </p>
        <md-button class="md-icon-button" ng-click="vm.getPage('after')" ng-disabled="!vm.subService.after" aria-label="after">
            <md-icon md-svg-src="assets/images/arrow-right-bold.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex>
    <ui-view></ui-view>
</md-content>