/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  font-family: 'Roboto', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-sidenav {
  height: 100%;
  width: 400px;
}

.md-avatar {
  width: 100px !important;
  height: 100px !important;
}

md-list-item {
  border-bottom: 1px solid rgba(158, 158, 158, .2);
  &:hover {
    background-color: rgba(158,158,158,.2);
  }
}

input.md-input {
  margin-top: 1rem;
}

.post {
  .comment {
    border-bottom: 1px solid rgba(158, 158, 158, .2);
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
