<div class="post">
    <div flex layout="row">
        <md-button class="md-icon-button" ng-click="vm.back()" aria-label="back">
            <md-icon md-svg-src="assets/images/arrow-left-bold.svg"></md-icon>
        </md-button>
        <h3>{{::vm.title}}</h3>
    </div>
    <p>post score: {{::vm.score}}</p>
    <img ng-src="{{::vm.image}}" ng-hide="!vm.image" alt="image">
    <div>{{::vm.selftext}}</div>
    <p>created by {{::vm.author}} at {{::vm.created | date:'dd.MM.yyyy'}}</p>
    <ul ng-repeat="comment in vm.comments | CommentsFilter:vm.postService.filter">
        <li>
            <div class="comment">
                <p>{{comment.body}}</p>
                <p>
                    <span>score: {{comment.score}}</span>
                    <span> author: {{comment.author}}</span>
                    <span> created: {{comment.created | date:'dd.MM.yyyy'}}</span>
                </p>
            </div>
        </li>
    </ul>
</div>