<md-list flex>
    <md-list-item class="md-3-line" ng-repeat="item in vm.data | filter: vm.subService.filter">
        <a ng-href="{{item.href}}">
            <img ng-src="{{item.thumbnail}}" class="md-avatar" alt="thumbnail">
        </a>
        <div layout="column">
            <h4>{{item.title}}</h4>
            <a ui-sref="post({sub: item.link[0], id: item.link[1], post: item.link[2]})">comments: {{item.num_comments}}</a>
            <p>submitted {{item.created | date:'dd.MM.yyyy'}} by {{item.author}}</p>
        </div>
    </md-list-item>
</md-list>